.card {
  margin: 8px;
  min-width: 298px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: 0.25s;


  h1 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: @fontColor;
  }

  .cardWrapper {
    min-height: 298px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      display: block;
      border-radius: 14px;


    }
  }

  h1 {
    margin-bottom: 8px;
  }
}

.cardPageWrapper{
  width: 100%;
  .card{
    .cardWrapper{
      img{

      }
    }
  }
}


.cardFlop {
  img{

    transition: all 0.2s ease-in;

    &:hover{
      box-shadow: 0px 0px 15px;
      transition: all 0.2s ease-in;
    }

    @media screen and (max-device-width: 600px){
      &:hover{
        box-shadow: 0px 0px 0px;
      }
    }
  }



}
