.card{
  margin: 8px;
  min-width: 298px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: 0.25s;


  h1{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .cardWrapper{
    min-height: 298px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img{
      display: block;
    }
  }

  h1{
    margin-bottom: 8px;
  }
}
