.button {
  min-width: 100px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px;
  color: white;
  background-color: @sideBackground;
  transition: 0.25s;
  position: relative;

  &:hover {
    border: 2px solid;
    background-color: white;
    color: black;
  }
}

.options{
  .button{
    color: black;
    background-color: white;

    &:hover {
      border: 2px solid;
      background-color: black;
      color: white;
    }
  }
}

.search {
  height: 40px;
  width: 55%;

  outline: none;
  border: solid 3px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px;
  font-size: 21px;

  @media screen and (max-device-width: 600px) {
    width: 47%;
    font-size: 12px;
    padding: 6px;
  }

  @media screen and (min-width: 700px) {
    width: 500px;
  }
}