* {
  margin: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

html {
  background-color: @background;
  color: @fontColor;
}

body{

}

.App {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}

.mainWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  position: relative;
  min-height: 100%;
}

.wrapper {
  a {
    text-decoration: none;
  }
}

.cardPageWrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px 8px 8px 8px;
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 0;
  min-height: 100%;
  background-color: rgba(40, 44, 52, 0.97);
  z-index: 100;
  color: white;
  overflow-y: auto;


  @media screen and (min-width: 500px) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    color: white;
    pointer-events: none;

    svg {
      color: white;
    }

    &:hover {
      color: white;
    }
  }

  .cardInfo {
    background-color: white;
    width: 100%;
    color: @fontColor;
    box-sizing: border-box;
    padding: 8px;


    @media screen and (min-width: 500px) {
      width: 400px;
    }

    .subtypes {
      display: flex;
      min-height: 10px;
    }

    .cost{
      display: flex;
      align-items: center;

      span{
        margin: 5px;
      }
    }

    .formats{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 8px;
      .format{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid black;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 8px;
      }

    }

    .sides {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 8px;

      .side {
        min-height: 25px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        border: solid 1px black;
        border-radius: 8px;
        overflow: hidden;

      }

      .sd{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      .modify{
        background-color: blue;
        color: white;
      }

      .res{
        color: gold;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        *{
          margin: 2px;
        }
      }

      .blank{
        background-color: red;
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }


    }

    .text{
      width: 100%;
      *{
        margin: 8px;
      }

      .bottom{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .affl{
        box-sizing: border-box;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .rr{
        box-sizing: border-box;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .Starter{
        background-color: gray;
      }

      .Common{
        background-color:  lightskyblue;
      }

      .Uncommon{
        background-color: yellow;
      }

      .Rare{
        background-color: greenyellow;
      }

      .Legendary{
        background-color: plum;
      }

      .Villain{
        color: white;
        background-color: black;
      }

      .Neutral{
        background-color: gray;
      }
    }


  }
}

