nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: @fontColor;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
  z-index: 99;

  .logo {
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    width: 160px;
  }

  img {
    height: 90%;
  }

  .ham {
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }

  svg{
    transition: 0.15s;

    &:hover {
      font-size: 36px;
      opacity: 0.75;
    }

    &:active{
      opacity: 0.5;
    }

    @media screen and (max-device-width: 600px){
      &:hover {
        font-size: initial;
        opacity: 1;
      }
    }

  }


}

.options, .navOptions {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  transition: 0.25s;
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 8px;
  z-index: 98;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-y: scroll;
  background-color: black;
  color: white;

  @media screen and (min-width: 600px) {
    width: 400px;
  }

  .wrapper {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 150px;
    left: 0;


  }

  .button{
    margin-top: 10px;
  }

  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 8px;
    position: absolute;
    top: 80px;
    left: 0;

    .button{
      margin: 0;
    }
  }

  h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    box-sizing: border-box;
    padding: 8px;

  }


  h3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;

    svg {
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .listOpt, .styleItem {
    list-style: none;
    overflow: hidden;
    transition: 0.15s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid;

    &:last-child{
      border-bottom: none;
      .item{
        &:last-child{
          border-bottom: 3px solid;
        }
      }
    }

    .item {
      transition: 0.15s;
      height: 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      padding: 8px;
      width: 100%;
      border-bottom: 2px solid;
      background-color: white;
      color: black;

      &:last-child{
        border-bottom: none;
      }

      .active {
        height: 18px;
        width: 18px;
        border-radius: 18px;
      }
    }
  }
}

.navOptions{
  box-sizing: border-box;
  overflow: hidden;
  .item{
    transition: 0.15s;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: inherit;
    padding: 8px;
    border-bottom: 2px solid;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
  }
}

.options {
  box-sizing: border-box;
  @media screen and (min-width: 600px) {
    border-left: 2px solid;
  }
}
